<?xml version="1.0" encoding="utf-8" ?>
<FaultMessageConfiguration>
  <FaultMessages>
    <FaultMessage name="GenericPageException" text="Error in page"/>
    <FaultMessage name="WindowNotFoundException" text="Browser pop up window load failed"/>
    <FaultMessage name="ElementNotFoundException" text="Element not found in the page"/>
    <FaultMessage name="ElementNotVisibleException" text="Element is not visible in the page"/>
    <FaultMessage name="WebDriverFailure" text="Failure in Webdriver"/>
    <FaultMessage name="WebDriverTimeout" text="Webdriver timed out"/>
    <FaultMessage name="XPathLookupException" text="XPath of the element not found"/>
    <FaultMessage name="NotFoundException" text="Item not found in the page"/>
    <FaultMessage name="InvalidOperationException" text="Invalid operation performed"/>
    <FaultMessage name="InvalidCastException" text="Invalid expilict conversion"/>
    <FaultMessage name="NullReferenceException" text="Object instantiation failed"/>
    <FaultMessage name="TimeoutException" text="Time allocated for the process has been expired"/>
    <FaultMessage name="NotSupportedException" text="Invoked functionality not supported"/>
    <FaultMessage name="AssertFailedException" text="Mismatch in Expect and actual result"/>
  </FaultMessages>
</FaultMessageConfiguration>