<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Browser" value="_browser_" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Environment" value="_env_" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AppServerName" value="_appserver_" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DBServerName" value="_dbserver_" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="batchProcessserverName" value="_appserver_" />
  </appSettings>
</configuration>