<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="FaultMessageConfiguration" type="MMSG.Pages.Exceptions.FaultMessageConfigurationSection, MMSG.Pages"/>
  </configSections>
 <FaultMessageConfiguration configSource="FaultMessageConfiguration.config"/>
  <appSettings>
    <!--Internet Explorer, FireFox, Chrome and Safari-->
    <add key="Browser" value="Chrome" />
    <add key="Environment" value="app16" />
    <add key="AppServerName" value="msldevapp16" />
    <add key="DBServerName" value="msldevsql16" />
    <add key="Product" value="MOL" />

    <!--Do Not make changes below this-->
    <add key="AssignedToCopyInterval" value="120" />
    <add key="WebDriverTimeOutInSeconds" value="100" />
    <add key="ElementFindTimeOutInSeconds" value="120" />
    <add key="Retry_Count" value="3" />
    <add key="TakeScreenShotDuringEntryExit" value="false" />
  </appSettings>

  <!--Specflow and unit test Configuration-->
  <specFlow>
    <unitTestProvider name="MsTest" />

    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <sessionState cookieless="true" regenerateExpiredSessionId="true" />
  </system.web>
  <!--Log4net Configuration-->
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <!--<file value="./Log/MMSG.Automation.log" />-->
      <file type="log4net.Util.PatternString" value="%property{LogFileName}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="3MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value=" T: %d |L: %p |TH: %t |L: %c{2} |MSG: %m %n" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="error" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="info" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <LevelToMatch value="debug" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="info" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="MMSG.Automation">
      <level value="All" />
    </logger>
  </log4net>
  <!--Runtime Configuration-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>